<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/jadwal.css}">
        <link rel="stylesheet" th:href="@{/css/cuti.css}">
        <link rel="stylesheet" th:href="@{/css/cabang.css}">
    </head>

    <head th:fragment="js">
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
        </script>
        <script src="https ://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
</head>

<body>
    <div class="sidenav" th:fragment="sidenav(nama)">
        <a href="/">Beranda</a>
        <a href="/jadwal">Jadwal Kelas</a>
        <a href="/registrasi-kelas">Registrasi Kelas</a>
        <a href="/cabang">Cabang</a>
        <a href="/siswa">Siswa</a>
        <a href="/presensi">Presensi</a>
        <a href="/cuti">Cuti</a>
    </div>
<!--    <nav-->
<!--        th:fragment="navbar(page)"-->
<!--        class="navbar navbar-expand-lg navbar-light bg-light"-->
<!--    >-->
<!--        <a class="navbar-brand font-weight-bold text-success" href="#">HaiDokter!</a>-->
<!--        <button-->
<!--            class="navbar-toggler"-->
<!--            type="button"-->
<!--            data-toggle="collapse"-->
<!--            data-target="#navbarNavAltMarkup"-->
<!--            aria-controls="navbarNavAltMarkup"-->
<!--            aria-expanded="false"-->
<!--            aria-label="Toggle navigation"-->
<!--        >-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse">-->
<!--            <ul class="navbar-nav mr-auto">-->
<!--                <a class="nav-item nav-link activate text-secondary" th:href="@{/}">-->
<!--                    Home<span class="sr-only">(current)</span>-->
<!--                </a>-->
<!--            </ul>-->
<!--            <ul class="navbar-nav navbar-right">-->
<!--                <p class="nav-item nav-link activate text-secondary"-->
<!--                   style="margin-bottom: 0;"-->
<!--                   th:text="${page}"-->
<!--                >-->
<!--                    <span class="sr-only">(current)</span>-->
<!--                </p>-->
<!--            </ul>-->
<!--            <ul class="navbar-nav pull-right">-->
<!--                <a class="nav-item nav-link activate text-secondary" th:href="@{/logout}">-->
<!--                    Logout<span class="sr-only">(current)</span>-->
<!--                </a>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
</body>
</html>