body {
    font-family: "Roboto", sans-serif;
}

body p {
    font-weight: 10;
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FF4C4C;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    display: block;
}

.sidenav .active, a:hover {
    background-color: #FF9494;
}

.main {
    margin-left: 210px;
    margin-top: 80px;
    padding: 0px 10px;
}

.main h1 {
    font-size: 28px;
}

.main h2 {
    font-size: 22px;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
}

.btabutton {
    border: 1px solid #ff4c4c;
    color: #ff4c4c;
    background-color: white;
    font-weight: normal;
}

.btabutton:hover {
    background-color: #ff4c4c;
    color: white;
}

.btacard {
    background-color: #fff;
    border: 1px solid #ff4c4c;
    border-bottom: 10px solid #ff4c4c;
    border-radius: 4px;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
    padding: 20px 50px;
}

.btacard h1 {
    font-size: 22px;
}

.btacard .btn {
    width: 80px;
    margin: 5px;
}

.btatable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.btatable td {
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 2px;
    text-align: center;
}

.btatable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btatable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ff4c4c;
    color: white;
}

.btatable p {
    margin: 6px 2px;
}

.card-header {
    background-color: #FF4C4C;
    color: white;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}