<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beranda</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <div th:replace="fragments/fragment :: sidenav('Beranda')"></div>

    <div class="main">
        <div class="container">
            <h1>Daftar Presensi Pegawai</h1><br>
            
        </div>
    </div>
</body>