<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ubah Kelas</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div th:replace="fragments/fragment :: sidenav('Ubah Kelas')"></div>
<div th:replace="fragments/fragment :: navbar('Ubah Kelas')"></div>
<div class="main">
    <div class="container">
        <!--Isi di sini-->
        <div class="btacard">
            <form th:action="@{/kelas/ubah/} + ${kelas.idKelas}" th:object="${kelas}" method="POST">
                <h6>Nama Kelas<span style="color: #ff0000">*</span></h6>
                <input th:value="*{namaKelas}" name="namaKelas" type="text" class="form-control" required>
                <h6 style="margin-top: 10px;">Bidang<span style="color: #ff0000">*</span></h6>
                <select name="bidang" class="form-control" aria-label="Default select example">
                    <option th:each="k : ${listBidang}" th:selected="(${k} == *{bidang})" th:text="${k}"></option>
                </select>
                <h6 style="margin-top: 10px;">Cabang<span style="color: #ff0000">*</span></h6>
                <select name="cabang" class="form-control" aria-label="Default select example" required>
                    <option th:each="i : ${listCabang}" th:selected="(${i.id_cabang} == *{cabang.id_cabang})" th:value="${i.id_cabang}" th:text="${i.nama_cabang}"></option>
                </select>
                <h6 style="margin-top: 10px;">Hari</h6>
                <div th:if="*{hari != null }">
                    <select name="hari" class="form-control" aria-label="Default select example">
                        <option th:each="j : ${listHari}" th:selected="(${j} == *{hari})" th:text="${j}"></option>
                    </select>
                </div>
                <div th:if="*{hari == null }">
                    <select name="hari" class="form-control" aria-label="Default select example">
                        <option value="" disabled selected>Pilih Hari...</option>
                        <option th:each="j : ${listHari}" th:text="${j}"></option>
                    </select>
                </div>
                <h6 style="margin-top: 10px;">Waktu Mulai</h6>
                <input type="time" th:value="*{waktuMulai}" name="waktuMulai" class="form-control"
                       min="08:00" max="18:00">
                <h6 style="margin-top: 10px;">Waktu Selesai</h6>
                <input type="time" th:value="*{waktuSelesai}" name="waktuSelesai" class="form-control"
                       min="08:00" max="18:00">
                <h6 style="margin-top: 10px;">Pengajar</h6>
                <div th:if="*{pengajar != null }">
                    <select name="pengajar" class="form-control" aria-label="Default select example">
                        <option th:each="m : ${listPengajar}" th:selected="(${m.idUser} == *{pengajar.idUser})" th:value="${m.idUser}" th:text="${m.namaUser}"></option>
                    </select>
                </div>
                <div th:if="*{pengajar == null }">
                    <select name="pengajar" class="form-control" aria-label="Default select example">
                        <option value="" disabled selected>Pilih Pengajar...</option>
                        <option th:each="pengajar : ${listPengajar}" th:value="${pengajar.idUser}" th:text="${pengajar.namaUser}"></option>
                    </select>
                </div>
                <div style="text-align: right;">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a th:href="@{/kelas/}" type="button" class="btn btn-outline-danger">Batal</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>