<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buat Pengajuan Cuti</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/fragment :: sidenav('Cuti')"></div>
<div th:replace="fragments/fragment :: navbar('Cuti')"></div>
<div class="main">
    <div class="container">
        <h1>Buat Pengajuan Cuti</h1><br>
        <div class="btacard" style="width: 50%">
            <h1 align="center">Form Pengajuan Cuti</h1><br>
            <form th:action="@{/cuti/add}" th:object = "${cuti}" method = "POST">
                <div class="row">
                    <div class="col">
                        <p>Tanggal Mulai: <span style="color: red">*</span></p>
                        <input required id="fDate" type="date" class="form-control"  name="tanggal_mulai" onchange="myFunction()"/>
                    </div>

                    <div class="col">
                        <p>Tanggal Selesai: <span style="color: red">*</span></p>
                        <input required id="tDate" type="date" class="form-control"  name="tanggal_selesai"/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <p>Alasan: <span style="color: red">*</span></p>
                        <textarea required type="text" class="form-control" name="alasan"
                                  rows="3" placeholder="Alasan cuti..." minlength="25" maxlength="255"></textarea>
                    </div>
                </div>
                <br>
                <div align="center">
                    <button type="submit" class="btn btn-sm btn-primary">Kirim</button>
                    <a href="/cuti" class="btn btn-sm btn-outline-danger">Batal</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var today = new Date();
    var dd = today.getDate() + 1;
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd
    }

    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("fDate").setAttribute("min", today);
    document.getElementById("tDate").setAttribute("min", today);

    function myFunction() {
        var minToDate = document.getElementById("fDate").value;
        if (Date.parse(document.getElementById("tDate").value) < Date.parse(minToDate))
            document.getElementById("tDate").value = minToDate;
        document.getElementById("tDate").setAttribute("min", minToDate);
    }
</script>
</body>
</html>