<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jadwal Kelas</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <div th:replace="fragments/fragment :: sidenav('Jadwal Kelas')"></div>
    <div class="main">
        <!--Isi di sini-->
        <div>
            <h1 style="font-weight: bold; margin-top: 10px; margin-bottom: 20px;">Jadwal Kelas</h1>
        </div>
        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#tambahJadwalModal" style="margin-bottom: 20px;">+ Tambah Jadwal</button>
        <div class="timetable">
            <div class="week-names">
                <div>Senin</div>
                <div>Selasa</div>
                <div>Rabu</div>
                <div>Kamis</div>
                <div>Jumat</div>
                <div>Sabtu</div>
            </div>
            <div class="time-interval">
                <div>08:00 - 09:00</div>
                <div>09:00 - 10:00</div>
                <div>10:00 - 11:00</div>
                <div>11:00 - 12:00</div>
                <div>12:00 - 13:00</div>
                <div>13:00 - 14:00</div>
                <div>14:00 - 15:00</div>
                <div>15:00 - 16:00</div>
                <div>16:00 - 17:00</div>
                <div>17:00 - 18:00</div>
            </div>
            <div class="content">
                <div th:each="cell : ${cells}">
                    <div th:each="class : ${cell}">
                        <a th:href="@{/jadwal/} + ${class.idKelas}" style="text-decoration: none;">
                            <button th:if="${class.namaKelas.contains('Fisika') || class.namaKelas.contains('Ekonomi')}" class="accent-pink-gradient"
                                    data-toggle="modal" data-target="#detailJadwalModal" style="border: 0;">
                                <p th:text="${class.namaKelas}"></p>
                            </button>
                            <button th:if="${class.namaKelas.contains('Biologi') || class.namaKelas.contains('Sosiologi')}" class="accent-orange-gradient"
                                    data-toggle="modal" data-target="#detailJadwalModal" style="border: 0;">
                                <p th:text="${class.namaKelas}"></p>
                            </button>
                            <button th:if="${class.namaKelas.contains('Kimia') || class.namaKelas.contains('Geografi')}" class="accent-cyan-gradient"
                                    data-toggle="modal" data-target="#detailJadwalModal" style="border: 0;">
                                <p th:text="${class.namaKelas}"></p>
                            </button>
                            <button th:if="${class.namaKelas.contains('Indonesia')}" class="accent-blue-gradient"
                                    data-toggle="modal" data-target="#detailJadwalModal" style="border: 0;">
                                <p th:text="${class.namaKelas}"></p>
                            </button>
                            <button th:if="${class.namaKelas.contains('Inggris')}" class="accent-green-gradient"
                                    data-toggle="modal" data-target="#detailJadwalModal" style="border: 0;">
                                <p th:text="${class.namaKelas}"></p>
                            </button>
                            <button th:if="${class.namaKelas.contains('Matematika')}" class="accent-purple-gradient"
                                    data-toggle="modal" data-target="#detailJadwalModal" style="border: 0;">
                                <p th:text="${class.namaKelas}"></p>
                            </button>
                            <button th:if="${class.namaKelas.contains('Sejarah')}" class="accent-red-gradient"
                                    data-toggle="modal" data-target="#detailJadwalModal" style="border: 0;">
                                <p th:text="${class.namaKelas}"></p>
                            </button>
                        </a>

                        <div class="modal fade" id="detailJadwalModal" tabindex="-1" role="dialog" aria-labelledby="detailJadwalModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="detailJadwalModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#editJadwalModal"
                                                class="btn btn-primary">
                                            <span>Ubah</span>
                                        </button>
                                        <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#hapusJadwalModal"
                                                class="btn btn-danger">
                                            <span>Hapus</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="editJadwalModal" tabindex="-1" role="dialog" aria-labelledby="editJadwalModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editJadwalModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Simpan</button>
                                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Batal</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="tambahJadwalModal" tabindex="-1" role="dialog" aria-labelledby="tambahJadwalModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tambahJadwalModalLabel">Tambah Jadwal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Simpan</button>
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Batal</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>