<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jadwal Kelas</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <div th:replace="fragments/fragment :: sidenav('Jadwal Kelas')"></div>
    <div class="main">
        <!--Isi di sini-->
        <div>
            <h2 style="font-weight: bold; margin-top: 20px; margin-bottom: 20px;">Jadwal Kelas</h2>
        </div>
        <div class="timetable">
            <div class="week-names">
                <div>Senin</div>
                <div>Selasa</div>
                <div>Rabu</div>
                <div>Kamis</div>
                <div>Jumat</div>
                <div class="weekend">Sabtu</div>
            </div>
            <div class="time-interval">
                <div>08:00 - 09:00</div>
                <div>09:00 - 10:00</div>
                <div>10:00 - 11:00</div>
                <div>11:00 - 12:00</div>
                <div>12:00 - 13:00</div>
                <div>13:00 - 14:00</div>
                <div>14:00 - 15:00</div>
                <div>15:00 - 16:00</div>
                <div>16:00 - 17:00</div>
                <div>17:00 - 18:00</div>
            </div>
            <div class="content">
                <div>
                    <div class="accent-orange-gradient">
                        <p>Biologi 1</p>
                    </div>
                </div>
                <div></div>
                <div></div>
                <div></div>
                <div>
                    <div class="accent-green-gradient">
                        <p>Fisika 2</p>
                    </div>
                </div>
                <div class="weekend"></div>
                <div></div>
                <div></div>
                <div></div>
                <div>
                    <div class="accent-cyan-gradient">
                        <p>Fisika 1</p>
                    </div>
                </div>
                <div></div>
                <div class="weekend"></div>
                <div>
                    <div class="accent-pink-gradient"></div>
                </div>
                <div></div>
                <div>
                    <div class="accent-purple-gradient"></div>
                </div>
                <div></div>
                <div></div>
                <div class="weekend"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="weekend"></div>
                <div>
                    <div class="accent-purple-gradient"></div>
                </div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="weekend"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="weekend"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="weekend"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="weekend"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="weekend"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="weekend"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="weekend"></div>
            </div>
        </div>
</body>
</html>