<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrasi Kelas</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div th:replace="fragments/fragment :: sidenav('Registrasi Kelas')"></div>
<div th:replace="fragments/fragment :: navbar('Registrasi Kelas')"></div>
<div class="main">
    <div class="container">
        <div>
            <h1 style="font-weight: bold; margin-top: 10px; margin-bottom: 20px;">Registrasi Kelas</h1>
        </div>
        <div>
            <div th:if="${alert} == 'addSuccess'" class="alert alert-success" role="alert">
                Kelas baru berhasil dibuat
            </div>
            <div th:if="${alert} == 'updateSuccess'" class="alert alert-success" role="alert">
                Kelas berhasil diubah!
            </div>
            <div th:if="${alert} == 'delSuccess'" class="alert alert-success" role="alert">
                Kelas berhasil dihapus!
            </div>
            <div th:if="${alert} == 'addFail'" class="alert alert-danger" role="alert">
                Terjadi error saat membuat kelas!
            </div>
            <div th:if="${alert} == 'delFail'" class="alert alert-danger" role="alert">
                Terjadi error saat menghapus kelas!
            </div>
            <div th:if="${alert} == 'notFound'" class="alert alert-danger" role="alert">
                Kelas tidak ditemukan!
            </div>
        </div>
        <a th:href="@{/kelas/tambah/}" class="btn btn-outline-danger" style="margin-bottom: 20px;">+ Tambah kelas</a>
        <table class="btatable">
            <thead>
            <tr>
                <th>Nomor</th>
                <th>Nama Kelas</th>
                <th>Bidang</th>
                <th>Cabang</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="kelas, iterStat : ${listKelas}">
                <td>
                    <p th:text="${iterStat.count}"></p>
                </td>
                <td>
                    <p th:text="${kelas.namaKelas}"></p>
                </td>
                <td>
                    <p th:text="${kelas.bidang}"></p>
                </td>
                <td>
                    <p th:text="${kelas.cabang.nama_cabang}"></p>
                </td>
                <td class="btn-toolbar" style="justify-content: center">
                    <a th:href = "@{/kelas/ubah/} + ${kelas.idKelas}" class = "btn btn-outline-primary mr-2 mb-2">Ubah</a>
                    <a class="btn btn-danger mr-2 mb-2" data-toggle="modal" th:attr="data-target='#hapusKelasModal'+${iterStat.index }">Hapus</a>
                    <div class="modal fade" th:id="'hapusKelasModal' + ${iterStat.index }" tabindex="-1" role="dialog" aria-labelledby="hapusKelasModalLabel" aria-hidden="true">-->
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="hapusKelasModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h2 style="font-weight: bold; text-align: center;" th:text="'Apakah Anda yakin ingin menghapus kelas ' + ${kelas.namaKelas} + '?'"></h2>
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/kelas/hapus/} + ${kelas.idKelas}" class="btn btn-outline-secondary" >
                                        <span>Hapus</span>
                                    </a>
                                    <button type="button" data-dismiss="modal" class="btn btn-danger">
                                        <span>Batal</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>