<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Program</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div th:replace="fragments/fragment :: sidenav('Program')"></div>
<div th:replace="fragments/fragment :: navbar('Program')"></div>
<div class="main">
    <div class="container">
        <div class="cuti-alert">
            <div th:if="${alert} == 'addSuccess'" class="alert alert-success" role="alert">
                Siswa baru berhasil dibuat
            </div>
            <div th:if="${alert} == 'editSuccess'" class="alert alert-success" role="alert">
                Siswa berhasil diubah!
            </div>
            <div th:if="${alert} == 'delSuccess'" class="alert alert-success" role="alert">
                Siswa berhasil dihapus!
            </div>
            <div th:if="${alert} == 'addFail'" class="alert alert-danger" role="alert">
                Terjadi error saat membuat siswa!
            </div>
            <div th:if="${alert} == 'editFail'" class="alert alert-success" role="alert">
                Terjadi error saat mengubah siswa!
            </div>
            <div th:if="${alert} == 'delFail'" class="alert alert-danger" role="alert">
                Terjadi error saat menghapus siswa!
            </div>
            <div th:if="${alert} == 'notFound'" class="alert alert-danger" role="alert">
                Siswa tidak ditemukan!
            </div>
        </div>

        <div>
            <h1 style="font-weight: bold; margin-top: 10px; margin-bottom: 20px;">Program</h1>
        </div>

        <a th:href="@{/program/add/}" class="btn btn-outline-danger" style="margin-bottom: 20px;">+ Tambah Program</a>

        <div>
            <table class="btatable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nama Program</th>
                    <th>Biaya</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="program, iterationStatus: ${listProgram}">
                    <td>
                        <p th:text="${program.idProgram}"></p>
                    </td>
                    <td>
                        <p th:text="${program.namaProgram}"></p>
                    </td>
                    <td>
                        <p th:text="${program.biayaProgram}"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</div>
</body>
</html>