<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Siswa</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div th:replace="fragments/fragment :: sidenav('Siswa')"></div>
<div th:replace="fragments/fragment :: navbar('Siswa')"></div>

<div class="main">
    <div class="container">
        <div class="cuti-alert">
            <div th:if="${alert} == 'addSuccess'" class="alert alert-success" role="alert">
                Siswa baru berhasil dibuat
            </div>
            <div th:if="${alert} == 'editSuccess'" class="alert alert-success" role="alert">
                Siswa berhasil diubah!
            </div>
            <div th:if="${alert} == 'delSuccess'" class="alert alert-success" role="alert">
                Siswa berhasil dihapus!
            </div>
            <div th:if="${alert} == 'addFail'" class="alert alert-danger" role="alert">
                Terjadi error saat membuat siswa!
            </div>
            <div th:if="${alert} == 'editFail'" class="alert alert-success" role="alert">
                erjadi error saat mengubah siswa!
            </div>
            <div th:if="${alert} == 'delFail'" class="alert alert-danger" role="alert">
                Terjadi error saat menghapus siswa!
            </div>
            <div th:if="${alert} == 'notFound'" class="alert alert-danger" role="alert">
                Siswa tidak ditemukan!
            </div>
        </div>

        <!--    Page Title    -->
        <div class="fs-2 mb-3">
            <a th:href="@{/siswa/}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                </svg>
            </a>
            <h3 th:text="'Siswa #' + ${siswa.idSiswa}"></h3>
        </div>

        <div class="detailcard">
            <div style="text-align: right;">
                <a type="button" th:href = "@{/siswa/edit/} + ${siswa.idSiswa}" class = "btn btn-outline-primary mr-2">
                    <span>Ubah Informasi Siswa</span></a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#hapusSiswaModal" style="margin-left: 20px;">
                    <span>Hapus Siswa</span>
                </button>
            </div>
            <table class="table" style="width: 60%;">
                <tbody>
                <tr>
                    <th scope="row">Nama Lengkap</th>
                    <td th:text="${siswa.namaSiswa}"></td>
                </tr>
                <tr>
                    <th scope="row">Asal Sekolah</th>
                    <td th:text="${siswa.asalSekolah}"></td>
                </tr>
                <tr>
                    <th scope="row">Program</th>
                    <td th:text="${siswa.program.namaProgram}"></td>
                </tr>
                <tr></tr>
                <tr>
                    <th scope="row">Tanggal Lahir</th>
                    <td th:text="${#dates.format(siswa.tanggalLahir, 'yyyy-MM-dd')}"></td>
                </tr>
                <tr>
                    <th scope="row">No. Handphone</th>
                    <td th:text="${siswa.hpSiswa}" ></td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td th:text="${siswa.emailSiswa}"></td>
                </tr>
                <tr>
                    <th scope="row">Alamat</th>
                    <td th:text="${siswa.alamatSiswa}"></td>
                </tr>
                <tr></tr>
                <tr>
                    <th scope="row">Nama Orang Tua</th>
                    <td th:text="${siswa.namaOrtu}"></td>
                </tr>
                <tr>
                    <th scope="row">No. Handphone Orang Tua</th>
                    <td th:text="${siswa.hpOrtu}"></td>
                </tr>
                <tr>
                    <th scope="row">Status Pembayaran</th>
                    <td>
                        <p th:if="${siswa.statusPembayaran} == 0" class="badge-menunggu">Belum Lunas</p>
                        <p th:if="${siswa.statusPembayaran} == 1" class="badge-disetujui">Sudah Lunas</p>
                    </td>
                    <td>
                        <a th:href = "@{/siswa/} + ${siswa.idSiswa} + @{/pembayaran/}" class="btn btn-sm btn-primary">Ubah Status Pembayaran</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="modal fade" id="hapusSiswaModal" tabindex="-1" role="dialog" aria-labelledby="hapusSiswaModalLabel" aria-hidden="true">-->
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5 style="font-weight: bold; text-align: center;" th:text="'Apakah Anda yakin ingin menghapus siswa ' + ${siswa.namaSiswa} + '?'"></h5>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{/siswa/delete/} + ${siswa.idSiswa}" class="btn btn-outline-secondary" >
                                <span>Hapus</span>
                            </a>
                            <button type="button" data-dismiss="modal" class="btn btn-danger">
                                <span>Batal</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--    Siswa Table   -->
<!--        <div>-->
<!--            <table class="btatable">-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <th>No. Siswa</th>-->
<!--                    <td>-->
<!--                        <p th:text="${siswa.idSiswa}"></p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>Tanggal Daftar</th>-->
<!--                    <td>-->
<!--                        <p th:text="${siswa.tanggalDaftar}"></p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>Nama Siswa</th>-->
<!--                    <td>-->
<!--                        <p th:text="${siswa.namaSiswa}"></p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>Asal Sekolah</th>-->
<!--                    <td>-->
<!--                        <p th:text="${siswa.asalSekolah}"></p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>Tanggal Lahir</th>-->
<!--                    <td>-->
<!--                        <p th:text="${siswa.tanggalLahir}"></p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>No. Handphone</th>-->
<!--                    <td>-->
<!--                        <p th:text="${siswa.hpSiswa}"></p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>Email</th>-->
<!--                    <td>-->
<!--                        <p th:text="${siswa.emailSiswa}"></p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>Nama Orangtua</th>-->
<!--                    <td>-->
<!--                        <p th:text="${siswa.hpOrtu}"></p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
    </div>
</div>



</body>
</html>