<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Pengajuan Cuti</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div th:replace="fragments/fragment :: sidenav('Cuti')"></div>
<div class="main">
    <div class="container">
        <h1>Detail Pengajuan Cuti</h1><br>
        <div class="btacard" style="width: 60%">
            <h1 th:text="'Pengajuan Cuti #' + ${cuti.idCuti}"></h1><br>
            <div class="detail-cuti">
                <div th:if="${isAbleToUpdateCuti}" class="row">
                    <div class="col-4" style="margin-left: 0px"><p>Nama Pegawai</p></div>
                    <div class="col"><p th:text="${cuti.pengaju.namaUser}"></p></div>
                </div>
                <div th:if="${isAbleToUpdateCuti}" class="row">
                    <div class="col-4" style="margin-left: 0px"><p>Role</p></div>
                    <div class="col"><p th:text="${cuti.pengaju.role.namaRole}"></p></div>
                </div>
                <div class="row">
                    <div class="col-4" style="margin-left: 0px"><p>Tanggal Diajukan</p></div>
                    <div class="col"><p th:text="${#dates.format(cuti.tanggal_diajukan, 'd MMMM yyyy')}"></p></div>
                </div>
                <div class="row">
                    <div class="col-4" style="margin-left: 0px"><p>Tanggal Cuti</p></div>
                    <div class="col"><p th:text="${#dates.format(cuti.tanggal_mulai, 'd MMMM yyyy')} + ' - ' +
                                                 ${#dates.format(cuti.tanggal_selesai, 'd MMMM yyyy')}"></p></div>
                </div>
                <div class="row">
                    <div class="col-4" style="margin-left: 0px"><p>Alasan</p></div>
                    <div class="col"><p th:text="${cuti.alasan}"></p></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4" style="margin-left: 0px"><p>Status Persetujuan</p></div>
                    <div class="col">
                        <p th:if="${cuti.status} == 0" class="menunggu">Menunggu Persetujuan</p>
                        <p th:if="${cuti.status} == 1" class="disetujui">Disetujui</p>
                        <p th:if="${cuti.status} == 2" class="ditolak">Ditolak</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="margin-left: 0px"><p>Feedback</p></div>
                    <div class="col">
                        <p th:if="${cuti.feedback} == null">Belum ada feedback.</p>
                        <p th:unless="${cuti.feedback} == null" th:text="${cuti.feedback}"></p>
                    </div>
                </div>
            </div>
            <br>
            <div align="right">
                <a href="/cuti" class="btn btn-sm btn-outline-danger">Kembali</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>