<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Cabang</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div th:replace="fragments/fragment :: sidenav('Detail Cabang')"></div>
<div th:replace="fragments/fragment :: navbar('Detail Cabang')"></div>
<div class="main">
    <div class="container">
        <!--Isi di sini-->
        <div>
            <h4 style="font-family: Roboto;color: black;font-style: normal;font-size: 36px; font-weight: 900;line-height: 42px"> Detail Cabang  </h4>
        </div>
        <br>
        <br>
        <div class="btacard">
            <h2 th:text="'Detail Cabang ' + ${cabang.nama_cabang}" class="col-6" style="font-family: Roboto;color: black;font-style: normal;font-weight: bold; display: flex;"></h2>
                <br>
                <br>

<!--            <div th:if="${cuti.lampiran} != null" class="row">-->
<!--                <div class="col-4" style="margin-left: 0px"><p>Lampiran</p></div>-->
<!--                <div class="col">-->
<!--                    <a><img th:src="*{'data:image/*;base64,'+ image}" style="width: 50%" data-toggle="modal" data-target="#modal"/></a>-->
<!--                </div>-->
<!--            </div>-->
                <div th:if="${cabang.logo} != null" class="row">
                    <div class="col-4" style="margin-left: 0px"><p id="judul">Logo</p></div>
                    <div class="col">
                        <a><img th:src="*{'data:image/*;base64,'+ image}" style="width: 50%" data-toggle="modal" data-target="#modal"/></a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4" style="margin-left: 0px"><p id="judul">Nama Cabang</p></div>
                    <div class="col"><p th:text="${cabang.nama_cabang}"></p></div>
                </div>
                <div class="row">
                    <div class="col-4" style="margin-left: 0px"><p id="judul" >Kode Cabang</p></div>
                    <div class="col"><p th:text="${cabang.kode_cabang}"></p></div>
                </div>
                <div class="row">
                    <div class="col-4" style="margin-left: 0px"><p id="judul" >Email</p></div>
                    <div class="col"><p th:text="${cabang.email}"></p></div>
                </div>
                <div class="row">
                    <div class="col-4" style="margin-left: 0px"><p id="judul" >Nomor Telepon</p></div>
                    <div class="col"><p th:text="${cabang.nomor_telepon}"></p></div>
                </div>
                <div class="row">
                    <div  class="col-4" style="margin-left: 0px"><p id="judul" >Alamat </p></div>
                    <div class="col"><p th:text="${cabang.alamat}"></p></div>
                </div>

            <!--Modal-->
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body mb-0 p-0">
                            <img th:src="*{'data:image/*;base64,'+ image}" style="width: 100%"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal-->
        </div>
    </div>
</div>
</body>
</html>