<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cabang</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div th:replace="fragments/fragment :: sidenav('Cabang')"></div>
<div th:replace="fragments/fragment :: navbar('Cabang')"></div>
<div class="main">
    <div class="container">
        <!--Isi di sini-->
        <div>
            <h4 style="font-family: Roboto;color: black;font-style: normal;font-size: 36px; font-weight: 900;line-height: 42px"> Cabang </h4>
        </div>
        <br>
        <br>
        <br>
        <div class="cabang-alert">
            <div th:if="${alert} == 'addSuccess'" class="alert alert-success" role="alert">
                Cabang baru berhasil dibuat
            </div>
            <div th:if="${alert} == 'updateSuccess'" class="alert alert-success" role="alert">
                Cabang berhasil diubah!
            </div>
            <div th:if="${alert} == 'delSuccess'" class="alert alert-success" role="alert">
                Cabang berhasil dihapus!
            </div>
            <div th:if="${alert} == 'addFail'" class="alert alert-danger" role="alert">
                Terjadi error saat membuat cabang!
            </div>
            <div th:if="${alert} == 'delFail'" class="alert alert-danger" role="alert">
                Terjadi error saat menghapus cabang!
            </div>
            <div th:if="${alert} == 'notFound'" class="alert alert-danger" role="alert">
                Cabang tidak ditemukan!
            </div>
        </div>
        <div class="row justify-content-between">
            <h2 class="col-6" style="font-family: Roboto;color: black;font-style: normal;font-weight: bold; display: flex;"> Daftar Cabang</h2>
            <a th:href = "@{/cabang/add}" class = "btn btn-outline-danger " > + Buat Cabang Baru</a>
        </div>
        <br>
        <table class="btatable">
            <thead>
            <tr>
                <th>Nomor</th>
                <th>Kode Cabang</th>
                <th>Nama Cabang</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cabang, iterStat : ${cabangList}">
                <td>
                    <p th:text="${iterStat.count}"></p>
                </td>
                <td>
                    <p th:text="${cabang.kode_cabang}"></p>
                </td>
                <td>
                    <p th:text="${cabang.nama_cabang}"></p>
                </td>
                <td class="btn-toolbar" style="justify-content: center">
                    <a th:href = "@{/cabang/view/} + ${cabang.id_cabang}" class = "btn btn-success mr-2 mb-2">Detail</a>
                    <a th:href = "@{/cabang/update/} + ${cabang.id_cabang}" class = "btn btn-primary mr-2 mb-2">Ubah</a>
<!--                    <a th:href = "@{/cabang/delete/} + ${cabang.id_cabang}" class="btn btn-danger mr-2 mb-2">Hapus</a>-->
                    <a data-toggle="modal" data-target="#modal-warning" ><span class="btn btn-danger mr-2 mb-2">Hapus</span></a>


                    <div class="modal modal-warning fade in" id="modal-warning">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span></button>
                                    <h5 class="modal-title"></h5>
                                </div>
                                <div class="modal-body">
                                    <h3 th:text="'Apakah Anda yakin akan menghapus Cabang ' + ${cabang.nama_cabang} +'? '"  style="font-weight: bold"> </h3>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-danger pull-left" data-dismiss="modal">Tidak</button>
                                    <a type="button" class="btn btn-danger" th:href="@{/cabang/delete/} + ${cabang.id_cabang} "><i class="fa fa-check"></i>&nbsp;Ya</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

<!--<a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${user.id }"><span class="glyphicon glyphicon-trash"></span></a>-->

<!--<div class="modal modal-warning fade in" th:id="modal-warning+${user.id }" >-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">×</span></button>-->
<!--                <h5 class="modal-title">Delete User</h5>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <h3>Are you sure want to delete this user?</h3>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>-->
<!--                <a type="button" class="btn btn-outline" th:href="@{/user/delete/{id}(id=${user.id})}"><i class="fa fa-check"></i>&nbsp;Yes</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->